.app {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

:root {
  --color-primary: #116acc;
  --color-secondary: #182233;
  --color-info: #6496ff;
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-error: #dc3545;
}
